<header class = "home-header">
	<div class = "left-title">
 			<h2>Railery</h2>
	</div>
</header>
<div class = "mid-header"></div>
<div class = "dashboard-body">	
	<div class = "container">
		<div class = "margin"></div>
		<div class = "left-side">
			<div class = "short-profile">
				<div class = "top-box">
				<div class = "profile-image">
					<!-- Put the user image in this section -->
					<%= image_tag "profilepic2.png" , class: "profile-image" %>
				</div>
				<div class ="user-name">
					<%= current_user.email %>
				</div>
				</div>
				<div class = "lower-box">
				<div class = "information">
					<!-- this section will show the number of shout outs the user has and also the number of followers he has and 
					the people that he is following
					-->
					<div class = "inner-box">
						<!-- this will show the count of shout outs and also a button like to take to the page where all his
						audio is present
						 -->
						<p><span class= "shout"> ShoutOuts </span></p>
						<div class = "t-numbers">90</div>
					</div>
					<div class = "inner-box">
						<!-- This will show people who are following the current user  -->
						<p><span class= "shout"> Followers </span></p>
						<div class = "t-numbers">90</div>
					</div>
					<div class = "inner-box">
						<!-- this will show the people who the current user is following -->
						<p><span class= "shout"> Following </span></p>
						<div class = "t-numbers">90</div>
					</div>
				</div>
				</div>
			</div>
		</div>
		<!-- This is the left side of the page any data can be added here for the user -->
		<div class = "right-side">
		<div id = "upload-complete"></div>
		<div class = "upload-form">
			<%= simple_form_for Audio.new , :remote => true  do |f|%>
			<%= f.input :name %>
			<%= f.input :audio %>
			<%= f.button :submit %>
			<% end %>
		</div>
		<div class = "linear-view-box">
			<div class = "top-box">
				<div class = "profile-image">
					<%= image_tag "profilepic1.png" , class: "profile-image" %>
				</div>
				<div class ="user-name">
					Bhavish Sushiel Agarwal
				</div>
				<div class = "audio-details">
					Something with a long data present here may be the text from audio 
				</div>
				<div class = "other-stuff">
					<div class = "like">LIKE </div>
					<div class = "like">RESHARE </div>
					<div class = "like"> OTHERS</div>
					<div class = "like"> COMMENT</div>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>
<footer class  ="home-footer">
	
</footer>